<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://p1b89ehzn.bkt.clouddn.com/%E5%BE%AE%E4%BF%A1%E5%B0%8F%E8%93%9D-1.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://www.312752.top/wz/largeImage.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.again.free002</string>
                    <key>bundle-version</key>
                    <string>6.6.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>微信</string>
                    <key>title</key>
				<string>微信小篮-嘉哥技术</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
